body{
    background-color: #aad4cf;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: white;
    background-image: url(../images/lone-starfish-wide.jpg);
}

nav li{
    display: inline;
}

a{
    background-color: #d4e9e7
}

img{
    float: left;
}

.contactborder{
    border: 1px solid black;
}

.clear{
    clear: left;
}

.box{
    background-color: #d4e9e7;
    width: 700px;
    margin: 0 auto;
}
  