body{
    background-color: #aad4cf;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    color: white;
    text-align: center
}

nav li{
    display: inline;
    text-align: center;
    padding: 4em;
}

.centertext{
    border-left: 1px solid black;
    border-right: 1px solid black;
}

nav ul{
    list-style: none outside none;
    margin:0;
    padding: 0;
    text-align: center;
}

article > img{
    float: left;
    padding: 1em
}

.contactborder{
    border: 1px solid black;
}

.clear{
    clear: left;
}

.box{
    background-color: #d4e9e7;
    width: 700px;
    margin: 0 auto;
}

footer{
    text-align: right;
}


.container {
    position: relative;
    text-align: center;
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  article > img{
      width:35%
  }
