body{
    background-color: #aad4cf;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    color: white;
}

nav li{
    display: inline-block;
    padding: 1em;
    text-align: center;
    width:25%;
}

nav ul a{
    list-style: none outside none;
    text-decoration: none;
    color:black;
    font-size: 1.5em;
}

nav ul a:hover,
nav ul a:focus{
    text-decoration: underline;
}

article > img{
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
    width:35%;
}

.contactborder{
    border: 1px solid black;
    padding:1em
}

.box{
    background-color: #d4e9e7;
    width: 700px;
    margin: 0 auto;
}

footer{
    text-align: right;
}


.container {
    position: relative;
    text-align: center;
  }

.container > img{
    width: 100%;
}

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

input, textarea{
      display:block;
  }

  input[type=radio]{ 
    display:inline
  }

  .button{
      background: none;
      border:1px solid black;
      padding: 0.5em
  }

  .maintext{
    padding: 0 20px;
  }


